html, body, iframe
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #4cae50;
}

.tile
{
	z-index:0;
	color: white;
	display: flex;
	height:100%;
}

.tile .title
{
	margin: auto;
}

.fullscreen
{
	height: 100%;
	display: flex;
}

.fullscreen .main-frame
{
	width: 100%;
	height: 100%;
	border:none;
}

.custom-button
{
	text-transform: none;
}

md-dialog.fullscreen
{
	min-height: 95%;
    min-width: 95%;
}

.fullscreen .dice-button{
	width: 80%;
}

.fullscreen h1{
	margin: 0;
	font-size: 15.5vh;
}

.fullscreen h2{
	margin: 0;
	font-size: 4.5vh;
	text-align: center;
}

.fullscreen #initial {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	justify-content: space-around;
}

#load{
	margin: auto;
}

#final{
	flex-flow: wrap column;
	max-width: 100%;
}

.card{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	color: rgba(0,0,0,0.87);
	background-color: rgb(255,255,255);
	border-radius: 2px;
	margin: 8px;
	box-sizing: border-box;
	display: flex;
	flex-flow: wrap column;
	padding: 5%;
	max-width: 100%;
}

#final > div > div:nth-child(2){
	display: flex;
	flex-flow: wrap column;
}


#final > div > div:nth-child(3){
	display: flex;
	flex-flow: wrap row;
}

.upbanner div{
	padding-right: 5%;
}

.upbanner .btn{
	min-width: 100%;
}

.event-pic {
	max-width: 100%;
}

.cutter
{
    width: 100%;
	  padding-bottom: 56.25%; /* 16:9 */
	  background: blue;
    overflow: hidden;
    position: relative;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
		margin-bottom: 4%;
}
img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}



@keyframes pulse {
	0%   { background-color: #ef5350 ; }
	50% { background-color: #4cae50; }
	100% { background-color: #ef5350; }
}


/* Animation of the dice */

body {
  background-color:#055;
}

#container {
  width:200px;
  height:200px;
  perspective:600px;
}

#cube {
  position:relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  width: 100%;
  height: 100%;
}

#cube div {
  border:1px solid #ccc;
  border-radius:30px;
  width:198px;
  height:198px;
  position:absolute;
  background-image: url(../img/Dice2-01.png);
  background-repeat:no-repeat;
  opacity:0.92;
}

.front  { transform: rotateY(   0deg ) translateZ( 100px ); background-position: -12px -12px; }
.back   { transform: rotateX( 180deg ) translateZ( 100px ); background-position: -463px -239px; }
.right  { transform: rotateY(  90deg ) translateZ( 100px ); background-position: -236px -12px; }
.left   { transform: rotateY( -90deg ) translateZ( 100px ); background-position: -241px -235px; }
.top    { transform: rotateX(  90deg ) translateZ( 100px ); background-position: -459px -12px; }
.bottom { transform: rotateX( -90deg ) translateZ( 100px ); background-position: -12px -235px; }

#cube.show1 { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show2 { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show3 { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show4 { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show5 { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show6 { transform: translateZ( -100px ) rotateX(   90deg ); }
