<!DOCTYPE html>
<html ng-app='tapplaner'>
<head>
	<title>LLB Message Board</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

	<script type="text/javascript" src="js/rnd.js" defer="defer"></script>
	<script type="text/javascript" src="js/llb.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-if='$root.initialized' ng-style='{ "backgroundColor" : $root.fullscreen ? "#ffee58" : "#4cae50" }' layout='column'>
	<div ng-if="!$root.fullscreen" ng-controller='MainController as vm' layout='row' layout-align='center center' flex class='tile'>
		<span class='title md-display-1'> Tapplaner <span>
	</div>
	<div ng-if="$root.fullscreen" class='fullscreen' flex layout='column' layout-align="center center">
		<div class="initial" ng-hide="myCard" flex layout='column' layout-align="center center">
			<h1>Touch!</h1>
			<img ng-click='button1()' class="dice-button" src="img/dice.png"/>
			<h2>Best events in your area, <br />  at a tap.</h2>
		</div>
		<div class="final" ng-show="myCard" flex layout='column' layout-align="center center">
			<md-card>
				<div class="upbanner" flex layout="row" layout-align="center center">
					<img class="event-pic" id = "p1"/>
					<div flex="50" layout="column" layout-align="start center">
						<md-button class="btn md-raised md-primary" id = "p2" href="www.google.com" target="_blank">Details</md-button>
						<md-button class="btn md-raised md-primary" id = "p3" href="www.google.com" target="_blank">Navigate</md-button>
					</div>
				</div>
		        <md-card-title class="top-0">
		          <md-card-title-text>
		            <span class="md-headline" id = "p4"></span>
		            <span class="md-subhead" id = "p5"></span>
								<span class="md-subhead" id = "p6"></span>
		          </md-card-title-text>
		        </md-card-title>
		      </md-card>
					<md-button ng-click='button2()' class="btn md-raised md-primary">Try again!</md-button>
		</div>
	</div>
</body>
</html>
