<!DOCTYPE html>
<html ng-app='tapplaner'>
<head>
	<title>LLB Message Board</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

	<script type="text/javascript" src="js/rnd.js" defer="defer"></script>
	<script type="text/javascript" src="js/llb.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-if='$root.initialized' ng-style='{ "backgroundColor" : $root.fullscreen ? "#ffee58" : "#ffee58" }' layout='column'>
	<div ng-hide="$root.fullscreen" ng-controller='MainController as vm' class='tile'>
		<div class="tile-div">
			<img src="img/dice.png" class="tile-img"/>
			<span class='title md-display-1'> Tapplaner </span>
		</div>
	</div>
	<div ng-show="$root.fullscreen" class='fullscreen'>
		<div id="initial">
			<h1>Touch!</h1>
			<div id="container1" ng-click="button1()">
			  <div id="cube1" class="show1">
			    <div class="top1"></div>
			    <div class="front1"></div>
			    <div class="left1"></div>
			    <div class="back1"></div>
			    <div class="right1"></div>
			    <div class="bottom1"></div>
			  </div>
			</div>
			<h2>Best events in your area, <br />  at a tap.</h2>
		</div>
		<md-progress-circular style="display: none" id="load" md-mode="indeterminate"></md-progress-circular>
		<div id="final" style="display: none">
			<div class = "card">
					<div class="cutter">
						<img class="event-pic" id = "p1"/>
					</div>
					<div class="cardText">
						<span class="md-headline" id = "p4"></span>
						<span class="md-subhead" id = "p5"></span>
						<span class="md-subhead" id = "p6"></span>
					</div>
						<div>
							<md-button class="btn md-raised md-primary" id = "p2" href="www.google.com" target="_blank">Details</md-button>
							<md-button class="btn md-raised md-primary" id = "p3" href="www.google.com" target="_blank">Navigate</md-button>
						</div>
		      </div>
					<div id="container2" ng-click="button1()">
						<div ng-click='button2()' id="cube2" class="show1">
							<div class="top2"></div>
							<div class="front2"></div>
							<div class="left2"></div>
							<div class="back2"></div>
							<div class="right2"></div>
							<div class="bottom2"></div>
						</div>
					</div>
		</div>
	</div>
	<script type="text/javascript" src="js/dice.js"></script>
</body>
</html>
